<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="Name of your web site">
<meta name="author" content="Marketify">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Elisc</title>

<link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Kristi&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/plugins.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<!--[if lt IE 9]> <script type="text/javascript" src="js/modernizr.custom.js"></script> <![endif]-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>

    <div id="preloader">
        <div class="loader_line"></div>
        </div>
        
        
        <div class="elisc_tm_all_wrap" data-magic-cursor="show">
        <div class="dodo_tm_one_page_wrapper">
        
        <div class="elisc_tm_topbar">
        <div class="topbar_inner">
        <div class="logo" data-type="image"> 
        <a class="image" href=""><img id="logo" src="img/logo/logo.png" alt /></a>
        <a class="text" href=""><span>Tanjim</span></a>
        </div>
        <div class="trigger">
        <div class="hamburger hamburger--slider">
        <div class="hamburger-box">
        <div class="hamburger-inner"></div>
        </div>
        </div>
        </div>
        </div>
        </div>
        <div class="elisc_tm_mobile_menu">
        <div class="inner">
        <div class="wrapper">
        <div class="avatar">
        <div class="image profileImg" data-img-url="img/about/2.jpg"></div>
        </div>
        <div class="menu_list">
        <ul class="anchor_nav menus">
        <li class="current"><a href="home.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="service.html">Services</a></li>
        <li><a href="projects.html">Portfolio</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="contact.html">Contact</a></li>
        </ul>
        </div>
        <div class="social">
        <ul class="social_links">
        <li><a href=""><img class="svg" src="img/svg/social/facebook.svg" alt /></a></li>
        <li><a href=""><img class="svg" src="img/svg/social/twitter.svg" alt /></a></li>
        <li><a href=""><img class="svg" src="img/svg/social/instagram.svg" alt /></a></li>
        <li><a href=""><img class="svg" src="img/svg/social/dribbble.svg" alt /></a></li>
        <li><a href=""><img class="svg" src="img/svg/social/tik-tok.svg" alt /></a></li>
        </ul>
        </div>
        <div class="copyright">
        <p class="copyrightText">Copyright &copy; 2023</p>
        </div>
        </div>
        </div>
        </div>
        
        
        <div class="elisc_tm_sidebar">
        <div class="sidebar_inner">
        <div class="author">
        <div class="image">
        <img src="img/thumbs/1-1.jpg" alt />
        <div class="main profileImg" data-img-url="img/about/2.png"></div>
        </div>
        <div class="name">
        <h3><span class="name">Tanjim Abubokor<span class="back">Tanjim Abubokor</span></span></h3>
        </div>
        </div>
        <div class="menu scrollable">
        <ul class="anchor_nav menus">
        <li class="current"><a href="home.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="service.html">Services</a></li>
        <li><a href="projects.html">Portfolio</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="contact.html">Contact</a></li>
        </ul>
        </div>
        <div class="copyright">
        <div class="social">
        <ul  class="social_links">
        <li><a href=""><i class="icon-facebook-1"></i></a></li>
        <li><a href=""><i class="icon-twitter-1"></i></a></li>
        <li><a href=""><i class="icon-linkedin-1"></i></a></li>
        </ul>
        </div>
        <div class="text">
        <p class="copyrightText">Copyright © 2023 Robert Elisc. All rights reserved.</p>
        </div>
        </div>
        </div>
        </div>
        
        
        <div class="elisc_tm_mainpart">
        <div class="mainpart_inner">

<div class="elisc_tm_section">
<div class="elisc_tm_portfolio">
<div class="tm_content">
<div class="elisc_tm_portfolio_title">
<div class="elisc_tm_title">
<span>- Projects</span>
<h3>Recent completed works</h3>
</div>
<div class="buttons">
<a class="prev_button" href=""><img class="svg" src="img/svg/prev.svg" alt /></a>
<a class="next_button" href=""><img class="svg" src="img/svg/next.svg" alt /></a>
</div>
</div>
<div class="portfolio_list">
<ul class="owl-carousel gallery_zoom">
<li>
<div class="list_inner">
<div class="image">
<img src="img/thumbs/31-36.jpg" alt />
<div class="main" data-img-url="img/portfolio/1.jpg"></div>
<a class="elisc_tm_full_link popup-youtube" href="https://www.youtube.com/watch?v=7e90gBu4pas"></a>
</div>
<div class="details">
<span class="category"><a href="">Youtube</a></span>
<h3 class="title"><a class="line_effect popup-youtube" href="https://www.youtube.com/watch?v=7e90gBu4pas">New Technology</a></h3>
</div>
</div>
</li>
<li>
<div class="list_inner">
<div class="image">
<img src="img/thumbs/31-36.jpg" alt />
<div class="main" data-img-url="img/portfolio/2.jpg"></div>
<a class="elisc_tm_full_link popup-vimeo" href="https://vimeo.com/337293658"></a>
</div>
<div class="details">
<span class="category"><a href="">Vimeo</a></span>
<h3 class="title"><a class="line_effect popup-vimeo" href="https://vimeo.com/337293658">Firogo Majestic Ltd.</a></h3>
</div>
</div>
</li>
<li>
<div class="list_inner">
<div class="image">
<img src="img/thumbs/31-36.jpg" alt />
<div class="main" data-img-url="img/portfolio/3.jpg"></div>
<a class="elisc_tm_full_link soundcloude_link mfp-iframe audio" href="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/471954807&color=%23ff5500&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></a>
</div>
<div class="details">
<span class="category"><a href="">Soundcloud</a></span>
<h3 class="title"><a class="line_effect soundcloude_link mfp-iframe audio" href="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/471954807&color=%23ff5500&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true">Creative Building</a></h3>
</div>
</div>
</li>
<li>
<div class="list_inner">
<div class="image">
<img src="img/thumbs/31-36.jpg" alt />
<div class="main" data-img-url="img/portfolio/4.jpg"></div>
<a class="elisc_tm_full_link portfolio_popup" href=""></a>
</div>
<div class="details">
<span class="category"><a href="">Modalbox</a></span>
<h3 class="title"><a class="line_effect portfolio_popup" href="">Beautiful Boat</a></h3>
</div>
</div>

<div class="hidden_content_portfolio">
<div class="popup_details">
<div class="main_details">
<div class="textbox">
<p>We live in a world where we need to move quickly and iterate on our ideas as flexibly as possible. Building mockups strikes the ideal balance ease of modification. Building mockups strikes the ideal balance ease of modification.</p>
<p>Mockups are useful both for the creative phase of the project - for instance when you're trying to figure out your user flows or the proper visual hierarchy - and the production phase when they phase when they will represent the target product. Building mockups strikes the ideal balance ease of modification.</p>
</div>
<div class="detailbox">
<ul>
<li>
<span class="first">Client</span>
<span>Alvaro Morata</span>
</li>
<li>
<span class="first">Category</span>
<span><a href="">Modalbox</a></span>
</li>
<li>
<span class="first">Date</span>
<span>April 10, 2023</span>
</li>
<li>
<span class="first">Share</span>
<ul class="share">
<li><a href=""><img class="svg" src="img/svg/social/facebook.svg" alt /></a></li>
<li><a href=""><img class="svg" src="img/svg/social/twitter.svg" alt /></a></li>
<li><a href=""><img class="svg" src="img/svg/social/instagram.svg" alt /></a>
</li>
</ul>
</li>
</ul>
</div>
</div>
<div class="additional_images">
<ul>
<li>
<div class="list_inner">
<div class="my_image">
<img src="img/thumbs/4-2.jpg" alt />
<div class="main" data-img-url="img/portfolio/5.jpg"></div>
</div>
</div>
</li>
<li>
<div class="list_inner">
<div class="my_image">
<img src="img/thumbs/4-2.jpg" alt />
<div class="main" data-img-url="img/portfolio/6.jpg"></div>
</div>
</div>
</li>
<li>
<div class="list_inner">
<div class="my_image">
<img src="img/thumbs/4-2.jpg" alt />
<div class="main" data-img-url="img/portfolio/7.jpg"></div>
</div>
</div>
</li>
</ul>
</div>
</div>
</div>

</li>
</ul>
<div class="elisc_tm_button" data-position="center">
<a href="">View all projects</a>
</div>
</div>
</div>
</div>

<div class="elisc_tm_partners">
<div class="tm_content">
<div class="elisc_tm_title">
<span>- Clients</span>
<h3>Customers &amp; clients</h3>
</div>
<div class="partners_inner">
<ul>
<li>
<div class="list_inner">
<img src="img/partners/1.png" alt />
<a class="elisc_tm_full_link" a href=""></a>
</div>
</li>
<li>
<div class="list_inner">
<img src="img/partners/2.png" alt />
<a class="elisc_tm_full_link" a href=""></a>
</div>
</li>
<li>
<div class="list_inner">
<img src="img/partners/3.png" alt />
<a class="elisc_tm_full_link" a href=""></a>
</div>
</li>
<li>
<div class="list_inner">
<img src="img/partners/4.png" alt />
<a class="elisc_tm_full_link" a href=""></a>
</div>
</li>
<li>
<div class="list_inner">
<img src="img/partners/5.png" alt />
<a class="elisc_tm_full_link" a href=""></a>
</div>
</li>
<li>
<div class="list_inner">
<img src="img/partners/6.png" alt />
<a class="elisc_tm_full_link" a href=""></a>
</div>
</li>
<li>
<div class="list_inner">
<img src="img/partners/7.png" alt />
<a class="elisc_tm_full_link" a href=""></a>
</div>
</li>
<li>
<div class="list_inner">
<img src="img/partners/8.png" alt />
<a class="elisc_tm_full_link" a href=""></a>
</div>
</li>
</ul>
</div>
</div>
</div>


<div class="elisc_tm_testimonial_wrapper">
<div class="tm_content">
<div class="elisc_tm_testimonials">
<div class="elisc_tm_title" data-position="center">
<span>- Testimonial</span>
<h3>What client's say?</h3>
</div>
<div class="testimonials_list">
<ul class="owl-carousel owl-theme">
<li>
<div class="text">
<p>I rarely like to write reviews, but the Marketify team truly deserve a standing ovation for their customer support, customisation and most importantly, friendliness and professionalism.</p>
</div>
<div class="short">
<div class="image">
<div class="main" data-img-url="img/testimonials/1.jpg"></div>
</div>
<div class="detail">
<h3>John Doe</h3>
</div>
</div>
<p class="job">User Interface Design at PCL Lab</p>
</li>
<li>
<div class="text">
<p>Really the Code Quality, Customer Support, and design are awesome and its good support they are giving. They give an instant solution to our needs. Really awesome. I will strongly recommend to my friends.</p>
</div>
<div class="short">
<div class="image">
<div class="main" data-img-url="img/testimonials/2.jpg"></div>
</div>
<div class="detail">
<h3>Keita Smith</h3>
</div>
</div>
<p class="job">Senior Designer at Behance</p>
</li>
<li>
<div class="text">
<p>Loved the template design, documentation, customizability and the customer support from Marketify team! I am a noob in programming but the Marketify team helped me successfully.</p>
</div>
<div class="short">
<div class="image">
<div class="main" data-img-url="img/testimonials/3.jpg"></div>
</div>
<div class="detail">
<h3>Alan Walker</h3>
</div>
</div>
<p class="job">Sales Manager at Vivaco Shop</p>
</li>
</ul>
</div>
</div>
</div>
</div>

</div>

</div>
</div>

</div>

<div class="mouse-cursor cursor-outer"></div>
<div class="mouse-cursor cursor-inner"></div>

</div>


<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="js/jquery.js"></script>
<!--[if lt IE 10]> <script type="text/javascript" src="js/ie8.js"></script> <![endif]-->
<script src="js/plugins.js"></script>
<script src="js/init.js"></script>
<script src="js/get_data.js"></script>

</body>
</html>