<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="Name of your web site">
<meta name="author" content="Marketify">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Elisc</title>

<link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Kristi&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/plugins.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<!--[if lt IE 9]> <script type="text/javascript" src="js/modernizr.custom.js"></script> <![endif]-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>

    <div id="preloader">
        <div class="loader_line"></div>
        </div>
        
        
        <div class="elisc_tm_all_wrap" data-magic-cursor="show">
        <div class="dodo_tm_one_page_wrapper">
        
        <div class="elisc_tm_topbar">
        <div class="topbar_inner">
        <div class="logo" data-type="image"> 
        <a class="image" href=""><img id="logo" src="img/logo/logo.png" alt /></a>
        <a class="text" href=""><span>Tanjim</span></a>
        </div>
        <div class="trigger">
        <div class="hamburger hamburger--slider">
        <div class="hamburger-box">
        <div class="hamburger-inner"></div>
        </div>
        </div>
        </div>
        </div>
        </div>
        <div class="elisc_tm_mobile_menu">
        <div class="inner">
        <div class="wrapper">
        <div class="avatar">
        <div class="image profileImg"></div>
        </div>
        <div class="menu_list">
        <ul class="anchor_nav menus">
        <li class="current"><a href="home.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="service.html">Services</a></li>
        <li><a href="projects.html">Portfolio</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="contact.html">Contact</a></li>
        </ul>
        </div>
        <div class="social">
        <ul class="social_links">
        <li><a href=""><img class="svg" src="img/svg/social/facebook.svg" alt /></a></li>
        <li><a href=""><img class="svg" src="img/svg/social/twitter.svg" alt /></a></li>
        <li><a href=""><img class="svg" src="img/svg/social/instagram.svg" alt /></a></li>
        <li><a href=""><img class="svg" src="img/svg/social/dribbble.svg" alt /></a></li>
        <li><a href=""><img class="svg" src="img/svg/social/tik-tok.svg" alt /></a></li>
        </ul>
        </div>
        <div class="copyright">
        <p class="copyrightText">Copyright &copy; 2023</p>
        </div>
        </div>
        </div>
        </div>
        
        
        <div class="elisc_tm_sidebar">
        <div class="sidebar_inner">
        <div class="author">
        <div class="image">
        <img src="img/thumbs/1-1.jpg" alt />
        <div class="main profileImg"></div>
        </div>
        <div class="name">
        <h3><span class="name">Tanjim Abubokor<span class="back">Tanjim Abubokor</span></span></h3>
        </div>
        </div>
        <div class="menu scrollable">
        <ul class="anchor_nav menus">
        <li class="current"><a href="home.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="service.html">Services</a></li>
        <li><a href="projects.html">Portfolio</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="contact.html">Contact</a></li>
        </ul>
        </div>
        <div class="copyright">
        <div class="social">
        <ul  class="social_links">
        <li><a href=""><i class="icon-facebook-1"></i></a></li>
        <li><a href=""><i class="icon-twitter-1"></i></a></li>
        <li><a href=""><i class="icon-linkedin-1"></i></a></li>
        </ul>
        </div>
        <div class="text">
        <p class="copyrightText">Copyright © 2023 Robert Elisc. All rights reserved.</p>
        </div>
        </div>
        </div>
        </div>
        
        
        <div class="elisc_tm_mainpart">
        <div class="mainpart_inner">

<div class="elisc_tm_section">
<div class="elisc_tm_services">
<div class="tm_content">
<div class="elisc_tm_service_title">
<div class="elisc_tm_title">
<span>- Projects</span>
<h3>Recent completed works</h3>
</div>
</div>
<div class="service_list">
<ul id="project-holder">
    <li>
    <div class="list_inner">
    <div class="details">
    <div class="title">
    <span>02</span>
    <h3>UI/UX Design</h3>
    </div>
    <div class="text">
    <p>Web development is the process of building, programming...</p>
    </div>
    <div class="elisc_tm_read_more">
    <a href="">Read More<span><img class="svg" src="img/svg/rightArrow.svg" alt /></span></a>
    </div>
    </div>
    <a class="elisc_tm_full_link" href=""></a>
    
    <div class="hidden_details">
    <iframe width="100%" height="400px" src="https://sample-videos.com/video123/mp4/720/big_buck_bunny_720p_1mb.mp4" title="Project Video" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <div class="project-des" style="margin-top: 10px;">
    <p>Elisc is a leading web design agency with an award-winning design team that creates innovative, effective websites that capture your brand, improve your conversion rates, and maximize your revenue to help grow your business and achieve your goals.</p>
    <p>In today’s digital world, your website is the first interaction consumers have with your business. That's why almost 95 percent of a user’s first impression relates to web design. It’s also why web design services can have an immense impact on your company’s bottom line.</p>
    <p>That’s why more companies are not only reevaluating their website’s design but also partnering with Elisc, the web design agency that’s driven more than $2.4 billion in revenue for its clients. With over 50 web design awards under our belt, we're confident we can design a custom website that drives sales for your unique business.</p>
    </div>
    </div>
    
    </div>
    </li>
</ul>
    </div>
</div>
</div>


<div class="elisc_tm_testimonial_wrapper">
<div class="tm_content">
<div class="elisc_tm_testimonials">
<div class="elisc_tm_title" data-position="center">
<span>- Testimonial</span>
<h3>What client's say?</h3>
</div>
<div class="testimonials_list">
<ul class="owl-carousel owl-theme" id="testimonials">
<li>
<div class="text">
<p>I rarely like to write reviews, but the Marketify team truly deserve a standing ovation for their customer support, customisation and most importantly, friendliness and professionalism.</p>
</div>
<div class="short">
    <div class="detail">
        <h3>John Doe</h3>
    </div>
</div>
<p class="job">User Interface Design at PCL Lab</p>
</li>
</ul>
</div>
</div>
</div>
</div>

</div>

</div>
</div>

</div>

<div class="mouse-cursor cursor-outer"></div>
<div class="mouse-cursor cursor-inner"></div>

</div>


<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="js/jquery.js"></script>
<!--[if lt IE 10]> <script type="text/javascript" src="js/ie8.js"></script> <![endif]-->
<script src="js/get_data.js"></script>
<script>
    Project()
</script>
<script src="js/plugins.js"></script>
<script src="js/init.js"></script>

</body>
</html>